<?xml version="1.0" encoding="windows-1252"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Usuarios</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form >
            <p:tabMenu >
                <p:menuitem >
                    <f:param name="i" value="1" />
                    <h:link value = "Inicio" outcome = "/index"></h:link>
                </p:menuitem>
            </p:tabMenu>

        </h:form>
        <h:form id="usurr">
            <p:growl id="estadoG" />

            <p:panelGrid columns="2">
                <p:column colspan="1"><p:outputLabel value="Contraseņa"/></p:column>
                <p:column colspan="1"> 
                    <!--Nombre controladr.objeto de la entidad.campo-->
                    <p:inputText value="#{usuarioBean.usur.usuarioContrasenia}">
                    </p:inputText> 
                </p:column> 

                <p:column colspan="1"><p:outputLabel value="Correo"/></p:column>
                <p:column colspan="1"> 
                    <!--Nombre controladr.objeto de la entidad.campo-->
                    <p:inputText value="#{usuarioBean.usur.usuarioCorreo}">
                    </p:inputText> 
                </p:column> 

                <p:column colspan="1"><p:outputLabel value="Estado"/></p:column>
                <p:column colspan="1"> 
                    <!--Nombre controladr.objeto de la entidad.campo-->
                    <p:selectBooleanCheckbox value="#{usuarioBean.usur.usuarioEstado}" />
                </p:column> 

                <p:column colspan="1"><p:outputLabel value="Fecha"/></p:column>
                <p:column colspan="1"> 
                    <!--Nombre controladr.objeto de la entidad.campo-->
                    <p:calendar value="#{usuarioBean.usur.usuarioFecha}">
                    </p:calendar>
                </p:column>

                <p:column colspan="1"><p:outputLabel value="Nombre"/></p:column>
                <p:column colspan="1"> 
                    <!--Nombre controladr.objeto de la entidad.campo-->
                    <p:inputText value="#{usuarioBean.usur.usuarioNombre}">
                    </p:inputText>
                </p:column> 

                <p:column colspan="1"><p:outputLabel value="Telefono"/></p:column>
                <p:column colspan="1"> 
                    <!--Nombre controladr.objeto de la entidad.campo-->
                    <p:inputText value="#{usuarioBean.usur.usuarioTelefono}">
                    </p:inputText>
                </p:column> 

                <p:column colspan="1" ><p:outputLabel value="Rol"/></p:column>
                <p:column colspan="1" >   
                    <p:selectOneMenu  value="#{usuarioBean.usur.roles.rolId}" 
                                      requiredMessage="Seleccione un Rol!"
                                      style="width: 90%; " converter="omnifaces.SelectItemsConverter" >

                        <f:selectItem itemLabel="Seleccione una rol" />
                        <f:selectItems value="#{usuarioBean.rolesList}" var="rol" itemLabel="#{rol.rolNombre}" itemValue="#{rol.rolId}" />
                        <p:ajax event="itemSelect" />
                    </p:selectOneMenu>
                </p:column>

                <p:column colspan="4"   >
                    <p:commandButton id="button" style="margin-left:378px; width: 150px;"                                                                                                 
                                     update="@form"
                                     actionListener="#{usuarioBean.guardarUsuario()}"
                                     value="Aceptar"/>
                </p:column>
            </p:panelGrid>

            <!--SEGUNDA PARTE-->
            <p:dataTable var="usuario"
                         id="table_usuario"
                         sortOrder="descending"
                         value="#{usuarioBean.usuarioslist()}"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         emptyMessage="No se encuentran datos">


                <p:column filterBy="#{usuario.usuarioNombre}" headerText="Nombre" 
                          filterMatchMode="contains" class="col-md-6" sortBy="#{usuario.usuarioNombre}">
                    <h:outputText value="#{usuario.usuarioNombre}"></h:outputText>
                </p:column>

                <p:column headerText="Correo" 
                          filterMatchMode="contains" class="col-md-6">
                    <h:outputText value="#{usuario.usuarioCorreo}"></h:outputText>
                </p:column>

                <p:column  headerText="Estado" 
                          filterMatchMode="contains" class="col-md-6" sortBy="#{usuario.usuarioEstado}">
                    <!---->
                    <h:outputText rendered="#{usuario.usuarioEstado == true}" value="Activo"/>
                    <h:outputText rendered="#{usuario.usuarioEstado == false}" value="Inactivo"/>
                    
                </p:column>

                <p:column filterBy="#{usuario.usuarioFecha}" headerText="Fecha" 
                          filterMatchMode="contains" class="col-md-6" sortBy="#{usuario.usuarioFecha}">
                    <h:outputText value="#{usuario.usuarioFecha}"></h:outputText>
                </p:column>

                <p:column headerText="Telefono" 
                          filterMatchMode="contains" class="col-md-6" >
                    <h:outputText value="#{usuario.usuarioTelefono}"></h:outputText>
                </p:column>

                <p:column headerText="Rol" 
                          filterMatchMode="contains" class="col-md-6">
                    <h:outputText value="#{usuario.roles.rolNombre}"></h:outputText>
                </p:column>
                <p:column headerText="Acciones" >
                    <p:commandButton  icon = "ui-icon-edit" id="editar"
                                      actionListener="#{usuarioBean.verUsuario(usuario)}"
                                      update=":form_editar_usuario  " 
                                      oncomplete="PF('dlg_editar_usuario').show();"/>
                    <p:tooltip for="editar" value="Editar" />
                    <p:commandButton icon = "fa fa-trash" id="eliminar" style="color: red !important;"
                                     onclick="PF('dgEliminar').show();">
                        <f:setPropertyActionListener value="#{usuario}"
                                                     target="#{usuarioBean.usur}"/>
                    </p:commandButton>
                    <p:tooltip for="eliminar" value="Eliminar"/>
                </p:column>
            </p:dataTable>
            <p:confirmDialog closable="false"
                             message="Desea eliminar el registro?" widgetVar="dgEliminar"
                             showEffect="fade" hideEffect="fade">
                <p:commandButton value="si"
                                 actionListener="#{usuarioBean.eliminarUsuario()}"
                                 update=":usurr:table_usuario" 
                                 icon="ui-icon-check"
                                 oncomplete="PF('dgEliminar').hide();" />
                <p:commandButton value="No" icon="ui-icon-close"
                                 oncomplete="PF('dgEliminar').hide();"
                                 actionListener="#{usuarioBean.limpiarDialogo()}" />
            </p:confirmDialog>
        </h:form>
        <!--EDITAR-->
        <p:dialog id="dlg_editar_usuario"  width="700" height="200" header="Editar usuario" widgetVar="dlg_editar_usuario" modal="true" 
                  position="center center" onShow="PF('dlg_editar_usuario').initPosition()">
            <h:form id="form_editar_usuario">

                <p:growl id="editarUsuario" />

                <p:panelGrid id="pgusuario" columns="2">
                    <p:column colspan="1">
                        <p:outputLabel value="Contraseņa" />
                    </p:column>
                    <p:column colspan="1">
                        <p:inputText value="#{usuarioBean.usur.usuarioContrasenia}"/>                        
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="Correo" />
                    </p:column>
                    <p:column colspan="1">
                        <p:inputText value="#{usuarioBean.usur.usuarioCorreo}" />    
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="Estado" />
                    </p:column>
                    <p:column colspan="1"> 
                        <!--Nombre controladr.objeto de la entidad.campo-->
                        <p:selectBooleanCheckbox value="#{usuarioBean.usur.usuarioEstado}" />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="Fecha" />
                    </p:column>
                    <p:column colspan="1">
                        <p:calendar value="#{usuarioBean.usur.usuarioFecha}">
                        </p:calendar>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="Nombre" />
                    </p:column>
                    <p:column colspan="1">
                        <p:inputText value="#{usuarioBean.usur.usuarioNombre}" />    
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="Telefono" />
                    </p:column>
                    <p:column colspan="1">
                        <p:inputText value="#{usuarioBean.usur.usuarioTelefono}" />    
                    </p:column>
                    <p:column colspan="1" ><p:outputLabel value="Rol"/></p:column>
                    <p:column colspan="1" >   
                        <p:selectOneMenu  value="#{usuarioBean.usur.roles.rolId}" 
                                          requiredMessage="Seleccione un Rol!"
                                          style="width: 90%; " converter="omnifaces.SelectItemsConverter" >

                            <f:selectItem itemLabel="Seleccione una rol" />
                            <f:selectItems value="#{usuarioBean.rolesList}" var="rol" itemLabel="#{rol.rolNombre}" itemValue="#{rol.rolId}" />
                            <p:ajax event="itemSelect" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="4">
                        <p:commandButton
                            actionListener="#{usuarioBean.guardarUsuario()}"
                            update="@form"
                            value="Guardar" />
                    </p:column>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>
